@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&family=Martel:wght@200;300;400;600;700;800&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2{
      font-family: 'Averia Serif Libre', cursive;
    }
    p, h3{
      font-family: 'Mulish', sans-serif;
    }
    body, html, #app{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100vh;
      min-width: 100vw;
      background-color: #101E19;
      overflow-x: hidden;
    }
    .bottom-border{
      border-bottom: solid #FC9049 3px;
    }
}